body {
    /* background-color: lightblue; */
    background-image: url("nature.jpg");
  }
  
  h1 {
    /* color: white;
    text-align: left; */
    color: navy;
  margin-left: 20px;
  }
  
 p.name{color: aqua;}
 p.roll{color: bisque;}

